
<style>
  .body{
justify-content: center;
}
.col{
  display: flex;
  justify-content: center;
  align-item: center;
  max-height: 8%;
  width:100%
}

.btn{
background-color: rgb(19, 98, 19);
}


</style>

<body class="body">
    <h2>Available Books In Our Neighborhood:</h2>
    <section class="card" style="max-width: 100vw;">
      <div>
        {{#each books}}
          <div class="col"> 
            <div id="book-{{id}}" class="card" style="width: 10rem;">
              {{#if image}}
                <img src="{{image}}" class="img-fluid rounded-start" alt="book image">
              {{/if}}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Author: {{author}}</p>
                <p class="card-text">Genre: {{genre}}</p>
                <p class="card-text">{{description}}</p>
                <button class="btn btn-primary add-to-library" data-book-id="{{id}}">Add to Library</button>
              </div>
            </div>
          </div>
        {{/each}}
</div>

{{!-- </ul> --}}

</section>
</body>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/addToLibrary.js"></script>
  <script src="/js/searchBooks.js"></script>



</html>