<!DOCTYPE html>
<html>
<head>
    <title>Your Library</title>
</head>
<body>
    <h1>Welcome Back!</h1>

    <h2>Your Library</h2>
    <section class="card">
    <ul>
        {{#each user.library}}
              <a href="/book/{{id}}"></a>
            <li>{{this.title}} by {{this.author}}</li>
            <li>{{this.genre}}</li>
            <li>{{this.discription}}</li>
        {{/each}}
    </ul>
</section>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
